* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #C8D1E4;
    padding: 2rem;
    text-align: center;
}
.container {
    max-width: 400px;
    min-width: 400px;
}
.head{
    text-align: center;
    text-shadow: 0px 2px 5px #767d84;
    font-size: 2em;
}
.card {
    border-radius: 25px;   
    background-color: #f1f7f7;
    position: relative;
    text-align: left;
}
.card__top{
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #A74E89;
    border-radius: 25px 25px 0 0;
    padding: 10px 0 5px 15px;
    >img {
        margin: 30px 20px 0 0;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 7px solid #303131c5;
    }
}
.card__bottom {
    padding: 10px 0 5px 15px;
    >p{
        color: green;
        margin: 10% 20px 0;
    }
 
}